if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[MBT_LG_001_01_ORFLINE]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[MBT_LG_001_01_ORFLINE]
GO

CREATE TABLE [dbo].[MBT_LG_001_01_ORFLINE] (
	[LOGICALREF] [int] IDENTITY (1, 1) NOT NULL ,
	[STOCKREF] [int] NULL ,
	[ORDFICHEREF] [int] NULL ,
	[CLIENTREF] [int] NULL ,
	[LINETYPE] [smallint] NULL ,
	[PREVLINEREF] [int] NULL ,
	[PREVLINENO] [smallint] NULL ,
	[DETLINE] [smallint] NULL ,
	[LINENO_] [smallint] NULL ,
	[TRCODE] [smallint] NULL ,
	[DATE_] [datetime] NULL ,
	[TIME_] [int] NULL ,
	[GLOBTRANS] [smallint] NULL ,
	[CALCTYPE] [smallint] NULL ,
	[CENTERREF] [int] NULL ,
	[ACCOUNTREF] [int] NULL ,
	[VATACCREF] [int] NULL ,
	[VATCENTERREF] [int] NULL ,
	[PRACCREF] [int] NULL ,
	[PRCENTERREF] [int] NULL ,
	[PRVATACCREF] [int] NULL ,
	[PRVATCENREF] [int] NULL ,
	[PROMREF] [int] NULL ,
	[SPECODE] [varchar] (17) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[DELVRYCODE] [varchar] (5) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[AMOUNT] [float] NULL ,
	[PRICE] [float] NULL ,
	[TOTAL] [float] NULL ,
	[SHIPPEDAMOUNT] [float] NULL ,
	[DISCPER] [float] NULL ,
	[DISTCOST] [float] NULL ,
	[DISTDISC] [float] NULL ,
	[DISTEXP] [float] NULL ,
	[DISTPROM] [float] NULL ,
	[VAT] [float] NULL ,
	[VATAMNT] [float] NULL ,
	[VATMATRAH] [float] NULL ,
	[LINEEXP] [varchar] (31) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[UOMREF] [int] NULL ,
	[USREF] [int] NULL ,
	[UINFO1] [float] NULL ,
	[UINFO2] [float] NULL ,
	[UINFO3] [float] NULL ,
	[UINFO4] [float] NULL ,
	[UINFO5] [float] NULL ,
	[UINFO6] [float] NULL ,
	[UINFO7] [float] NULL ,
	[UINFO8] [float] NULL ,
	[VATINC] [smallint] NULL ,
	[CLOSED] [smallint] NULL ,
	[DORESERVE] [smallint] NULL ,
	[INUSE] [smallint] NULL ,
	[DUEDATE] [datetime] NULL ,
	[PRCURR] [smallint] NULL ,
	[PRPRICE] [float] NULL ,
	[REPORTRATE] [float] NULL ,
	[BILLEDITEM] [int] NULL ,
	[PAYDEFREF] [int] NULL ,
	[EXTENREF] [int] NULL ,
	[CPSTFLAG] [smallint] NULL ,
	[SOURCEINDEX] [smallint] NULL ,
	[SOURCECOSTGRP] [smallint] NULL ,
	[BRANCH] [smallint] NULL ,
	[DEPARTMENT] [smallint] NULL ,
	[LINENET] [float] NULL ,
	[SALESMANREF] [int] NULL ,
	[STATUS] [smallint] NULL ,
	[DREF] [int] NULL ,
	[TRGFLAG] [smallint] NULL ,
	[SITEID] [smallint] NULL ,
	[RECSTATUS] [smallint] NULL ,
	[ORGLOGICREF] [int] NULL ,
	[FACTORYNR] [smallint] NULL ,
	[WFSTATUS] [int] NULL ,
	[NETDISCFLAG] [smallint] NULL ,
	[NETDISCPERC] [float] NULL ,
	[NETDISCAMNT] [float] NULL ,
	[CONDITIONREF] [int] NULL ,
	[DISTRESERVED] [float] NULL ,
	[ONVEHICLE] [float] NULL ,
	[CAMPAIGNREFS1] [int] NULL ,
	[CAMPAIGNREFS2] [int] NULL ,
	[CAMPAIGNREFS3] [int] NULL ,
	[CAMPAIGNREFS4] [int] NULL ,
	[CAMPAIGNREFS5] [int] NULL ,
	[POINTCAMPREF] [int] NULL ,
	[CAMPPOINT] [float] NULL ,
	[PROMCLASITEMREF] [int] NULL ,
	[REASONFORNOTSHP] [smallint] NULL ,
	[CMPGLINEREF] [int] NULL ,
	[PRRATE] [float] NULL ,
	[GROSSUINFO1] [float] NULL ,
	[GROSSUINFO2] [float] NULL ,
	[CANCELLED] [smallint] NULL ,
	[DEMPEGGEDAMNT] [float] NULL ,
	[TEXTINC] [smallint] NULL ,
	[OFFERREF] [int] NULL ,
	[ORDERPARAM] [smallint] NULL ,
	[ITEMASGREF] [int] NULL ,
	[EXIMAMOUNT] [float] NULL ,
	[OFFTRANSREF] [int] NULL ,
	[ORDEREDAMOUNT] [float] NULL ,
	[ORGLOGOID] [varchar] (25) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[TRCURR] [smallint] NULL ,
	[TRRATE] [float] NULL ,
	[AKTARILDI] [bit] NULL 
) ON [PRIMARY]
GO

