if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[MBT_LG_001_01_STLINE]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[MBT_LG_001_01_STLINE]
GO

CREATE TABLE [dbo].[MBT_LG_001_01_STLINE] (
	[LOGICALREF] [int] IDENTITY (1, 1) NOT NULL ,
	[STOCKREF] [int] NULL ,
	[LINETYPE] [smallint] NULL ,
	[PREVLINEREF] [int] NULL ,
	[PREVLINENO] [smallint] NULL ,
	[DETLINE] [smallint] NULL ,
	[TRCODE] [smallint] NULL ,
	[DATE_] [datetime] NULL ,
	[FTIME] [int] NULL ,
	[GLOBTRANS] [smallint] NULL ,
	[CALCTYPE] [smallint] NULL ,
	[PRODORDERREF] [int] NULL ,
	[SOURCETYPE] [smallint] NULL ,
	[SOURCEINDEX] [smallint] NULL ,
	[SOURCECOSTGRP] [smallint] NULL ,
	[SOURCEWSREF] [int] NULL ,
	[SOURCEPOLNREF] [int] NULL ,
	[DESTTYPE] [smallint] NULL ,
	[DESTINDEX] [smallint] NULL ,
	[DESTCOSTGRP] [smallint] NULL ,
	[DESTWSREF] [int] NULL ,
	[DESTPOLNREF] [int] NULL ,
	[FACTORYNR] [smallint] NULL ,
	[IOCODE] [smallint] NULL ,
	[STFICHEREF] [int] NULL ,
	[STFICHELNNO] [smallint] NULL ,
	[INVOICEREF] [int] NULL ,
	[INVOICELNNO] [smallint] NULL ,
	[CLIENTREF] [int] NULL ,
	[ORDTRANSREF] [int] NULL ,
	[ORDFICHEREF] [int] NULL ,
	[CENTERREF] [int] NULL ,
	[ACCOUNTREF] [int] NULL ,
	[VATACCREF] [int] NULL ,
	[VATCENTERREF] [int] NULL ,
	[PRACCREF] [int] NULL ,
	[PRCENTERREF] [int] NULL ,
	[PRVATACCREF] [int] NULL ,
	[PRVATCENREF] [int] NULL ,
	[PROMREF] [int] NULL ,
	[PAYDEFREF] [int] NULL ,
	[SPECODE] [varchar] (17) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[DELVRYCODE] [varchar] (5) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[AMOUNT] [float] NULL ,
	[PRICE] [float] NULL ,
	[TOTAL] [float] NULL ,
	[PRCURR] [smallint] NULL ,
	[PRPRICE] [float] NULL ,
	[TRCURR] [smallint] NULL ,
	[TRRATE] [float] NULL ,
	[REPORTRATE] [float] NULL ,
	[DISTCOST] [float] NULL ,
	[DISTDISC] [float] NULL ,
	[DISTEXP] [float] NULL ,
	[DISTPROM] [float] NULL ,
	[DISCPER] [float] NULL ,
	[LINEEXP] [varchar] (31) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[UOMREF] [int] NULL ,
	[USREF] [int] NULL ,
	[UINFO1] [float] NULL ,
	[UINFO2] [float] NULL ,
	[UINFO3] [float] NULL ,
	[UINFO4] [float] NULL ,
	[UINFO5] [float] NULL ,
	[UINFO6] [float] NULL ,
	[UINFO7] [float] NULL ,
	[UINFO8] [float] NULL ,
	[PLNAMOUNT] [float] NULL ,
	[VATINC] [smallint] NULL ,
	[VAT] [float] NULL ,
	[VATAMNT] [float] NULL ,
	[VATMATRAH] [float] NULL ,
	[BILLEDITEM] [int] NULL ,
	[BILLED] [smallint] NULL ,
	[CPSTFLAG] [smallint] NULL ,
	[RETCOSTTYPE] [smallint] NULL ,
	[SOURCELINK] [int] NULL ,
	[RETCOST] [float] NULL ,
	[RETCOSTCURR] [float] NULL ,
	[OUTCOST] [float] NULL ,
	[OUTCOSTCURR] [float] NULL ,
	[RETAMOUNT] [float] NULL ,
	[FAREGREF] [int] NULL ,
	[FAATTRIB] [smallint] NULL ,
	[CANCELLED] [smallint] NULL ,
	[LINENET] [float] NULL ,
	[DISTADDEXP] [float] NULL ,
	[FADACCREF] [int] NULL ,
	[FADCENTERREF] [int] NULL ,
	[FARACCREF] [int] NULL ,
	[FARCENTERREF] [int] NULL ,
	[DIFFPRICE] [float] NULL ,
	[DIFFPRCOST] [float] NULL ,
	[DECPRDIFF] [smallint] NULL ,
	[LPRODSTAT] [smallint] NULL ,
	[PRDEXPTOTAL] [float] NULL ,
	[DIFFREPPRICE] [float] NULL ,
	[DIFFPRCRCOST] [float] NULL ,
	[SALESMANREF] [int] NULL ,
	[FAPLACCREF] [int] NULL ,
	[FAPLCENTERREF] [int] NULL ,
	[OUTPUTIDCODE] [varchar] (25) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[DREF] [int] NULL ,
	[COSTRATE] [float] NULL ,
	[XPRICEUPD] [smallint] NULL ,
	[XPRICE] [float] NULL ,
	[XREPRATE] [float] NULL ,
	[DISTCOEF] [float] NULL ,
	[TRANSQCOK] [smallint] NULL ,
	[SITEID] [smallint] NULL ,
	[RECSTATUS] [smallint] NULL ,
	[ORGLOGICREF] [int] NULL ,
	[WFSTATUS] [int] NULL ,
	[POLINEREF] [int] NULL ,
	[PLNSTTRANSREF] [int] NULL ,
	[NETDISCFLAG] [smallint] NULL ,
	[NETDISCPERC] [float] NULL ,
	[NETDISCAMNT] [float] NULL ,
	[VATCALCDIFF] [float] NULL ,
	[CONDITIONREF] [int] NULL ,
	[DISTORDERREF] [int] NULL ,
	[DISTORDLINEREF] [int] NULL ,
	[CAMPAIGNREFS1] [int] NULL ,
	[CAMPAIGNREFS2] [int] NULL ,
	[CAMPAIGNREFS3] [int] NULL ,
	[CAMPAIGNREFS4] [int] NULL ,
	[CAMPAIGNREFS5] [int] NULL ,
	[POINTCAMPREF] [int] NULL ,
	[CAMPPOINT] [float] NULL ,
	[PROMCLASITEMREF] [int] NULL ,
	[CMPGLINEREF] [int] NULL ,
	[PLNSTTRANSPERNR] [int] NULL ,
	[PORDCLSPLNAMNT] [float] NULL ,
	[VENDCOMM] [float] NULL ,
	[PREVIOUSOUTCOST] [float] NULL ,
	[COSTOFSALEACCREF] [int] NULL ,
	[PURCHACCREF] [int] NULL ,
	[COSTOFSALECNTREF] [int] NULL ,
	[PURCHCENTREF] [int] NULL ,
	[PREVOUTCOSTCURR] [float] NULL ,
	[ABVATAMOUNT] [float] NULL ,
	[ABVATSTATUS] [smallint] NULL ,
	[PRRATE] [float] NULL ,
	[ADDTAXRATE] [float] NULL ,
	[ADDTAXCONVFACT] [float] NULL ,
	[ADDTAXAMOUNT] [float] NULL ,
	[ADDTAXPRCOST] [float] NULL ,
	[ADDTAXRETCOST] [float] NULL ,
	[ADDTAXRETCOSTCURR] [float] NULL ,
	[GROSSUINFO1] [float] NULL ,
	[GROSSUINFO2] [float] NULL ,
	[ADDTAXPRCOSTCURR] [float] NULL ,
	[ADDTAXACCREF] [int] NULL ,
	[ADDTAXCENTERREF] [int] NULL ,
	[ADDTAXAMNTISUPD] [smallint] NULL ,
	[INFIDX] [float] NULL ,
	[ADDTAXCOSACCREF] [int] NULL ,
	[ADDTAXCOSCNTREF] [int] NULL ,
	[PREVIOUSATAXPRCOST] [float] NULL ,
	[PREVATAXPRCOSTCURR] [float] NULL ,
	[PRDORDTOTCOEF] [float] NULL ,
	[DEMPEGGEDAMNT] [float] NULL ,
	[STDUNITCOST] [float] NULL ,
	[STDRPUNITCOST] [float] NULL ,
	[COSTDIFFACCREF] [int] NULL ,
	[COSTDIFFCENREF] [int] NULL ,
	[TEXTINC] [smallint] NULL ,
	[ADDTAXDISCAMOUNT] [float] NULL ,
	[ORGLOGOID] [varchar] (25) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[EXIMFICHENO] [varchar] (31) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[AKTARILDI] [bit] NULL 
) ON [PRIMARY]
GO

