if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[MBT_PROMOSYON]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[MBT_PROMOSYON]
GO

CREATE TABLE [dbo].[MBT_PROMOSYON] (
	[Promo_RECno] [int] NOT NULL ,
	[Promo_RECid_DBCno] [smallint] NOT NULL ,
	[Promo_RECid_RECno] [int] NOT NULL ,
	[Promo_SpecRECNo] [int] NULL ,
	[Promo_iptal] [bit] NULL ,
	[Promo_exported] [bit] NULL ,
	[Promo_fileid] [smallint] NULL ,
	[Promo_hidden] [bit] NULL ,
	[Promo_kilitli] [bit] NULL ,
	[Promo_reserved] [varchar] (9) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[Promo_CheckSum] [int] NULL ,
	[Promo_create_user] [smallint] NULL ,
	[Promo_create_date] [datetime] NULL ,
	[Promo_create_time] [datetime] NULL ,
	[Promo_lastup_user] [smallint] NULL ,
	[Promo_lastup_date] [datetime] NULL ,
	[Promo_lastup_time] [datetime] NULL ,
	[Promo_special1] [varchar] (4) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[Promo_special2] [varchar] (4) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[Promo_special3] [varchar] (4) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[Promo_kodu] [varchar] (10) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[Promo_ismi] [varchar] (50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[Promo_stok_kod_yapisi] [varchar] (25) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[Promo_stok_sorgu_cumlesi] [varchar] (255) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[Promo_musteri_kod_yapisi] [varchar] (25) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[Promo_musteri_sorgu_cumlesi] [varchar] (255) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[Promo_stok_promosyon_tipi] [tinyint] NULL ,
	[Promo_belge_Promosyon_tipi] [tinyint] NULL ,
	[Promo_D1] [float] NULL ,
	[Promo_D2] [float] NULL ,
	[Promo_D3] [float] NULL ,
	[Promo_D4] [float] NULL ,
	[Promo_hediye_tipi] [tinyint] NULL ,
	[Promo_hediye_kodu] [varchar] (25) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[Promo_hediye_D1] [float] NULL ,
	[Promo_hediye_D2] [float] NULL ,
	[Promo_uygulama_tipi] [tinyint] NULL ,
	[Promo_baslangic_gunu] [datetime] NULL ,
	[Promo_bitis_gunu] [datetime] NULL ,
	[Promo_uygulama_gunleri1] [bit] NULL ,
	[Promo_uygulama_gunleri2] [bit] NULL ,
	[Promo_uygulama_gunleri3] [bit] NULL ,
	[Promo_uygulama_gunleri4] [bit] NULL ,
	[Promo_uygulama_gunleri5] [bit] NULL ,
	[Promo_uygulama_gunleri6] [bit] NULL ,
	[Promo_uygulama_gunleri7] [bit] NULL ,
	[Promo_gun_ici_baslangic_saati] [int] NULL ,
	[Promo_gun_ici_bitis_saati] [int] NULL 
) ON [PRIMARY]
GO

