if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[MBT_PARAMETRELER]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[MBT_PARAMETRELER]
GO

CREATE TABLE [dbo].[MBT_PARAMETRELER] (
	[ID] [int] IDENTITY (1, 1) NOT NULL ,
	[YCARINAKITRISKLIMIT] [float] NULL ,
	[YCARICEKRISKLIMIT] [float] NULL ,
	[YCARICEKRISKVADE] [int] NULL ,
	[YCARISENETRISKLIMIT] [float] NULL ,
	[YCARISENETRISKVADE] [int] NULL ,
	[YCARINAKITODEMEISKONTOORANI] [float] NULL ,
	[YCARICEKODEMEISKONTOORANI] [float] NULL ,
	[YCARISENETODEMEISKONTOORANI] [float] NULL 
) ON [PRIMARY]
GO

