if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[MBT_LG_001_01_ORFICHE]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[MBT_LG_001_01_ORFICHE]
GO

CREATE TABLE [dbo].[MBT_LG_001_01_ORFICHE] (
	[LOGICALREF] [int] NOT NULL ,
	[TRCODE] [smallint] NULL ,
	[FICHENO] [varchar] (9) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[DATE_] [datetime] NULL ,
	[TIME_] [int] NULL ,
	[DOCODE] [varchar] (9) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[SPECODE] [varchar] (11) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[CYPHCODE] [varchar] (11) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[CLIENTREF] [int] NULL ,
	[RECVREF] [int] NULL ,
	[ACCOUNTREF] [int] NULL ,
	[CENTERREF] [int] NULL ,
	[SOURCEINDEX] [smallint] NULL ,
	[SOURCECOSTGRP] [smallint] NULL ,
	[UPDCURR] [smallint] NULL ,
	[ADDDISCOUNTS] [float] NULL ,
	[TOTALDISCOUNTS] [float] NULL ,
	[TOTALDISCOUNTED] [float] NULL ,
	[ADDEXPENSES] [float] NULL ,
	[TOTALEXPENSES] [float] NULL ,
	[TOTALPROMOTIONS] [float] NULL ,
	[TOTALVAT] [float] NULL ,
	[GROSSTOTAL] [float] NULL ,
	[NETTOTAL] [float] NULL ,
	[REPORTRATE] [float] NULL ,
	[REPORTNET] [float] NULL ,
	[GENEXP1] [varchar] (51) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[GENEXP2] [varchar] (51) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[GENEXP3] [varchar] (51) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[GENEXP4] [varchar] (51) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[EXTENREF] [int] NULL ,
	[PAYDEFREF] [int] NULL ,
	[PRINTCNT] [smallint] NULL ,
	[BRANCH] [smallint] NULL ,
	[DEPARTMENT] [smallint] NULL ,
	[STATUS] [smallint] NULL ,
	[CAPIBLOCK_CREATEDBY] [smallint] NULL ,
	[CAPIBLOCK_CREADEDDATE] [datetime] NULL ,
	[CAPIBLOCK_CREATEDHOUR] [smallint] NULL ,
	[CAPIBLOCK_CREATEDMIN] [smallint] NULL ,
	[CAPIBLOCK_CREATEDSEC] [smallint] NULL ,
	[CAPIBLOCK_MODIFIEDBY] [smallint] NULL ,
	[CAPIBLOCK_MODIFIEDDATE] [datetime] NULL ,
	[CAPIBLOCK_MODIFIEDHOUR] [smallint] NULL ,
	[CAPIBLOCK_MODIFIEDMIN] [smallint] NULL ,
	[CAPIBLOCK_MODIFIEDSEC] [smallint] NULL ,
	[SALESMANREF] [int] NULL ,
	[SHPTYPCOD] [varchar] (13) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[SHPAGNCOD] [varchar] (13) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[GENEXCTYP] [smallint] NULL ,
	[LINEEXCTYP] [smallint] NULL ,
	[TRADINGGRP] [varchar] (17) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[TEXTINC] [smallint] NULL ,
	[SITEID] [smallint] NULL ,
	[RECSTATUS] [smallint] NULL ,
	[ORGLOGICREF] [int] NULL ,
	[FACTORYNR] [smallint] NULL ,
	[WFSTATUS] [int] NULL ,
	[SHIPINFOREF] [int] NULL ,
	[CUSTORDNO] [varchar] (25) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[SENDCNT] [smallint] NULL ,
	[DLVCLIENT] [smallint] NULL ,
	[DOCTRACKINGNR] [varchar] (21) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[CANCELLED] [smallint] NULL ,
	[ORGLOGOID] [varchar] (25) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[OFFERREF] [int] NULL ,
	[OFFALTREF] [int] NULL ,
	[TYP] [smallint] NULL ,
	[ALTNR] [smallint] NULL ,
	[ADVANCEPAYM] [float] NULL ,
	[TRCURR] [smallint] NULL ,
	[TRRATE] [float] NULL ,
	[TRNET] [float] NULL ,
	[AKTARILDI] [bit] NULL 
) ON [PRIMARY]
GO

